.header{
    width: 100%;
    height: 1.3rem;
    background:white;

}
.topbar{
    width: 100%;
    height:auto;
    background: #66afe9;
}
@font-face {
    font-family: 'iconfont';  /* project id 1030787 */
    src: url('//at.alicdn.com/t/font_1030787_wul4cyg3d4c.eot');
    src: url('//at.alicdn.com/t/font_1030787_wul4cyg3d4c.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1030787_wul4cyg3d4c.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1030787_wul4cyg3d4c.woff') format('woff'),
    url('//at.alicdn.com/t/font_1030787_wul4cyg3d4c.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1030787_wul4cyg3d4c.svg#iconfont') format('svg');
}
.body{
    width: 100%;
    height: 100%;
}
.html{
    width: 100%;
    height: 100%;
}
.topbar img{
    width: 0.2rem;
    height: 0.3rem;
    margin-left: 0.3rem;
    float: left;
    margin-top: 0.5rem;
}
.topbar .biaoti span{
    font-size: 0.3rem;
    display: block;
    float: left;
    margin-left: 2.7rem;
    margin-top: 0.5rem;
    color: black;
}
.tuijian{
    width: 100%;
    height: 2.9rem;
    /*background: #66afe9;*/
    margin-top:0.5rem;
}
.meishi{
    width: 1.8rem;
    height: 0.67rem;
    background-image:linear-gradient(to right,rgb(0,210,255) 0,rgb(120,250,0) 100%) ;
    border-radius: 0 0.4rem 0.4rem 0;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.67rem;
    font-weight: normal;
    color:rgba(255,255,255,1);
    margin-bottom: 0.56rem;
}
.tuijiankuang{
    width: 7.04rem;
    height: 1.65rem;
    /*background: black;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.tuijian1{
    width: 3.36rem;
    height: 100%;
    background:#ffffff;
    border-radius: 0.12rem;
    text-align: left;
    box-shadow:0 0 0.1rem 0.01rem #9d9d9d;
}
.tuijian1 span {
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    position: absolute;
    left: 1.6rem;
    top: 0.4rem;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
}
.tuijian1 p{
    font-size: 0.28rem;
    letter-spacing: 0.01rem;
    position: absolute;
    left: 1.6rem;
    top: 0.8rem;
    color:rgba(0,0,0,0.5) ;
}
.tuijian2{
    width: 3.36rem;
    height: 100%;
    background:#ffffff;
    border-radius: 0.12rem;
    text-align: left;
    box-shadow:0 0 0.1rem 0.01rem #9d9d9d;
 }
.tuijian2 span {
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    position: absolute;
    right: 0.15rem;
    top: 0.4rem;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
}
.tuijian2 p{
    font-size: 0.28rem;
    letter-spacing: 0.01rem;
    position: absolute;
    right: 0.2rem;
    top: 0.8rem;
    color:rgba(0,0,0,0.5) ;
}
.pi1{
    width: 1.14rem;
    height: 1.14rem;
    border-radius: 0.11rem;
    background-color: yellow;
    box-shadow: 0 0 0.04rem 0.04rem rgba(0,0,0,0.2);
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}
.tuijian3{
    width: 1.8rem;
    height: 0.67rem;
    background-image:linear-gradient(to right,rgb(0,210,255) 0,rgb(120,250,0) 100%) ;
    border-radius: 0 0.4rem 0.4rem 0;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.67rem;
    font-weight: normal;
    color:rgba(255,255,255,1);
    margin-top: 0.56rem;
}
.dingdan1{
    width: 7.01rem;
    height: 1.56rem;
    border-radius:0.2rem;
    background:white ;
    margin: 0 auto;
    box-shadow: 0rem 0.02rem 0.18rem #9d9d9d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:0.56rem;
}
.dingdan1 .shipu{
    width: 1.28rem;
    height: 1.28rem;
    /*background: #66afe9;*/
    text-align: center;
}
.shipu img{
    width: 1.28rem;
    height: 1.28rem;
}
.shipu:nth-child(2){
  width: auto;
}
.shipu:nth-child(3){
    width: auto;
}
.shipu p{
    font-size: 0.24rem;
    font-weight: bolder;
    color: #9d9d9d;
    text-align: left;
}

.ziti{
    width: 1.43rem;
    height: 0.5rem;
    background-image:linear-gradient(to right,rgb(0,210,255) 0,rgb(120,250,0) 100%) ;
    border-radius: 0.25rem ;
    font-size: 0.26rem;
    text-align: center;
    color: white;
    line-height: 0.5rem;
    margin-top: 0.5rem;
}
.shipu p:nth-child(1){
    font-size: 0.28rem;
    color: black;
}
.zhuangtailan{
    width: 7.5rem;
    height: 0.97rem;
/*    background: yellow;*/
    margin-top: 0.54rem;
    font-family: iconfont;
    box-shadow: 0 0 0.04rem 0.04rem rgba(0,0,0,0.2);
    position: fixed;
    bottom: 0rem;
}
div.tubiao1 {
    width: 0.55rem;
    height: 0.97rem;
    /*    background: blue;*/
    margin-left: 1.31rem;
    float: left;
}
.tubiao2{
    width: 0.55rem;
    height: 0.5rem;
    /*    background: green;*/
    line-height: 0.0rem;/*???*/
    text-align: center;
    font-family: iconfont;
}
.tubiao1 span{
    font-size: 0.32rem;
}
.zi5{
    height: 0.33rem;
    font-size: 0.16rem;
    text-align: center;
    margin-top: 0rem;
    /*    background: red;*/
}