*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    font-size: 100px;
}
body{
    font-size: 14px;
}
@font-face {
    font-family: 'iconfont';  /* project id 1030787 */
    src: url('//at.alicdn.com/t/font_1030787_8nzpzwz2ra8.eot');
    src: url('//at.alicdn.com/t/font_1030787_8nzpzwz2ra8.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1030787_8nzpzwz2ra8.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1030787_8nzpzwz2ra8.woff') format('woff'),
    url('//at.alicdn.com/t/font_1030787_8nzpzwz2ra8.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1030787_8nzpzwz2ra8.svg#iconfont') format('svg');
}
@media (min-width: 320px) {
    html{
        font-size:42.67px;
    }
}
@media (min-width: 360px) {
    html{
        font-size: 48px;
    }
}
@media (min-width: 375px) {
    html{
        font-size: 50px;
    }
}
@media (min-width: 414px) {
    html{
        font-size: 55.2px;
    }
}
.iconfont{
    font-size: 14px;
}
.beijing{
    width: 7.5rem;
    height: 13.79rem;
    background-color: white;
}
.head{
    width: 100%;
    height:3.27rem;
    background-image:linear-gradient(to right,rgb(0,210,255) 0,rgb(120,250,0) 100%) ;
    position: relative;
}
.jiantou{
    width: 0.25rem;
    height: 0.45rem;
/*    background: white;*/
    position: absolute;
    left: 0.3rem;
    top: 0.63rem;
    font-family:iconfont ;
    line-height: 0.45rem;
    font-size: 0.44rem;
    color: white;
}
.jilu{
    width: 0.56rem;
    height: 0.56rem;
    border-radius: 0.28rem;
    background-color: white;
    position: absolute;
    left: 5.66rem;
    top: 0.55rem;
    line-height: 0.56rem;
    text-align: center;
    font-family: iconfont;
    color: red;
    font-size: 0.36rem;
}
.huitailang img{
    width: 1.34rem;
    height: 1.34rem;
/*    background-color: yellow;*/
    border-radius: 0.07rem;
    position: absolute;
    left: 0.76rem;
    top: 1.33rem;
    border: 0.02rem solid white;
}
.xinxi{
    width: 4.48rem;
    height: 1.6rem;
/*    background-color: yellow;*/
    position: absolute;
    left: 2.47rem;
    top: 1.29rem;
}
.weizhi{
    width: 0.22rem;
    height: 0.22rem;
    border-radius: 0.11rem;
    line-height: 0.22rem;
    text-align: center;
    background-color: white;
    position: absolute;
    top:0.44rem;
    font-family: iconfont;
    font-size: 0.1rem;
    color: rgb(14,213,241);
}
.juli{
    width: 0.96rem;
    height: 0.26rem;
    border-radius: 0.15rem;
    background-color: rgba(255,255,255,0.1);
    line-height: 0.26rem;
    text-align: center;
    position: absolute;
    top: 0.88rem;
    border: 0.02rem solid white;
    font-size: 0.2rem;
    color: white;
    font-weight: 800;
}
.yuan{
    width: 0.18rem;
    height: 0.18rem;
    border-radius: 0.09rem;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    left: 1.38rem;
    top: 0.94rem;
/*    border: 0.05rem solid rgba(255,255,255,0.1);*/
}
.xing{
    width: 1.3rem;
    height: 0.28rem;
/*    background-color:green ;*/
    position: absolute;
    top: 1.3rem;
    font-family: iconfont;
    color: white;
    font-size: 0.18rem;
}
.tixing{
    width: 7.5rem;
    height: 0.9rem;
    background-color: rgb(0,0,0);
    line-height: 0.9rem;
    position: relative;
}
.dingcan{
    width: 100%;
    height: 1.08rem;
/*    background-color: yellow;*/
    position: relative;
}
.dingcan1{
    width: 2.68rem;
    height: 0.56rem;
/*    background-color: red;*/
    position: absolute;
    left: 2.4rem;
    top:0.28rem;
    border-radius: 0.3rem;
    border: 0.02rem solid rgb(0,0,0);
    line-height: 0.56rem;
    font-size: 0.28rem;
}
.dingcan3{
    width: 1.29rem;
    height: 0.48rem;
    border-radius: 0.25rem;
    background-color: rgba(12,213,243,1);
    position: absolute;
    left: 0.02rem;
    top: 0.02rem;
    font-size: 0.28rem;
    line-height: 0.48rem;
}
.center{
    width: 7.48rem;
    height: 8.91rem;
    background: #e2e2e2;
    margin: 0 auto;
    margin-top: 0.05rem;
    display: flex;
    justify-content: flex-start;
}
.left{
    width: 2.31rem;
    height: 100%;
    background: black;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}
.yuanjiaokuai{
    width: 1.74rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    border: solid 0.02rem rgb(12,214,243);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.yuanjiaokuai span{
    font-size: 0.28rem;
    color:rgb(12,214,243) ;
}
.yuanjiaokuai:nth-child(2){
    background:rgb(12,214,243);
}
.yuanjiaokuai:nth-child(2) span{
    color: white;
}
.right{
    width: 5.17rem;
    height:8.91rem;
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
}
.news{
    width: 4.95rem;
    height: 1.72rem;
    box-shadow: -0.057rem 0.018rem 0.13rem 0rem
    rgba(0, 0, 0, 0.25);
    border-radius: 0.2rem;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.news img{
    width: 1.23rem;
    height: 1.23rem;
}
.news .caipin{
    width: 2.4rem;
    height: 1.6rem;
    /*background: #fcdb66;*/
    display: flex;
    justify-content:flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.caipin+img{
    width: 0.35rem;
    height: 0.35rem;
}
.news span{
    font-size: 0.24rem;
    letter-spacing: 0.018rem;
    font-weight: bolder;
}
.caipin img{
    height: 0.3rem;
}
.caipin span:nth-child(4){
    font-size: 0.24rem;
    color: red;
}
.caipin .group{
    width: 2.4rem;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
/*    margin-top: -1.7rem;*/
}
.caipin .group .smcircle{
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    background-color:rgb(0,210,255) ;

}
.group span{
    font-size: 0.2rem;
    color: #666666;
}
.footer{
    width: 7.48rem;
    height: 0.98rem;
    margin: 0 auto;
    box-shadow: -0.057rem 0.018rem 0.13rem 0rem
    rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer img{
    width: 0.43rem;
    height: 0.37rem;
}
#heiyuan{
    width: 0.78rem;
    height: 0.78rem;
    background:#464646;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0.24rem;
}
.wenzi3{
    width: 1.6rem;
    height: 0.65rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0.4rem;
}
.wenzi3 span:nth-child(1){
    font-size: 0.24rem;
    font-weight: bolder;
}
.wenzi3 span:nth-child(2){
    font-size: 0.2rem;
    color: #9d9d9d;
}
.footer .heiyuanjiao{
    width: 1.21rem;
    height: 0.46rem;
    background: #464646;
    border-radius: 0.2rem;
    color: #cccccc;
    text-align: center;
    font-size: 0.24rem;
    line-height: 0.48rem;
    margin-left: 2.68rem;
}
