.beijing{
    width: 100%;
    height: auto;
    /*background: #66afe9;*/
}
.beijing>img{
    width: 0.16rem;
    height: 0.28rem;
    margin-left: 0.27rem;
    margin-top: 0.41rem;
    margin-bottom: 0.41rem;
}
/*.nav{
    width: 100%;
    height: 0.23rem;
    background: #9d9d9d;
}*/
.beijing>span{
    font-size: 0.4rem;
    color: rgba(0,0,0,0.5);
    font-weight: bolder;
    margin-left: 0.27rem;
    display:block;
    margin-top: -0.23rem;
    letter-spacing: 0.02rem;
}
hr{
    width: 7.02rem;
    height:0.01rem;
    background: #666666;
    margin: 0 auto;
    margin-top:0.46rem ;
    border: none;
}
#money{
    width:7.02rem;
    height: 0.56rem;
    margin:0 auto;
    margin-top: 0.2rem;
    /*background: red;*/
    display: flex;
    justify-content: flex-start;
    position: relative;
}
#money .circle{
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background: rgb(0,210,255);
    margin-top: 0.18rem;
    margin-right: 0.1rem;
}
#money span{
    font-size: 0.3rem;
    color: rgba(120, 120, 120, 0.81);
    font-weight: bolder;
    letter-spacing: 0.02rem;
}
#money .one{
    display: inline;
    color: red;
    font-size: 0.3rem;
    font-weight: bolder;
    position: absolute;
    right: 0.9rem;
    top: 0.09rem;
}
#money .two{
    display: inline;
    color: red;
    font-size: 0.18rem;
    font-weight: bolder;
    position: absolute;
    right: 0;
    top: 0.1rem;
}
.zhaopian{
    margin-top: 0.2rem;
    width: 100%;
    height: 3.33rem;
    /*background: yellow;*/
    text-align: center;
}
.zhaopian img{
    width: 6.55rem;
    height: 3.33rem;
}
.all .password{
    width: 4.45rem;
    height: 0.61rem;
    /*background: #4cae4c;*/
    margin: 0 auto;
    margin-top: 0.51rem;
    display: flex;
    justify-content: space-between;
}
.zhiwen img{
    width: 100%;
    margin-top:0.49rem;
}