*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    font-size: 100px;
}
body{
    font-size: 14px;
}
@font-face {
    font-family: 'iconfont';  /* project id 1030787 */
    src: url('//at.alicdn.com/t/font_1030787_kyg1eywp9ai.eot');
    src: url('//at.alicdn.com/t/font_1030787_kyg1eywp9ai.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1030787_kyg1eywp9ai.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1030787_kyg1eywp9ai.woff') format('woff'),
    url('//at.alicdn.com/t/font_1030787_kyg1eywp9ai.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1030787_kyg1eywp9ai.svg#iconfont') format('svg');
}
@media (min-width: 320px) {
    html{
        font-size:42.67px;
    }
}
@media (min-width: 360px) {
    html{
        font-size: 48px;
    }
}
@media (min-width: 375px) {
    html{
        font-size: 50px;
    }
}
@media (min-width: 414px) {
    html{
        font-size: 55.2px;
    }
}
.iconfont{
    font-size: 14px;
}
.beijing{
    width: 100%;
    height: 13.34rem;
    background: rgba(56,173,225,0.5);
}
.head{
    width: 100%;
    height: 1.55rem;
    /*    background: yellow;*/
    padding-top:0.7rem;
    box-sizing: content-box;
}
.biaozhi{
    background: white;
    color: rgba(0, 0, 0, 0.21);
    font-size: 0.28rem;
    font-weight: 800;
    width: 0.86rem;
    height: 0.66rem;
    border-radius: 0.33rem;
    margin-left: 6.3rem;
    line-height: 0.66rem;
    text-align: center;
    box-shadow: 0 0 0.24rem 0.01rem rgba(0,1,6,0.2);
}

.tu img{
    width: 3.21rem;
    height: 2.65rem;
    /*    background: blue;*/
    margin-left: 2.12rem;
}
.yingwen{
    font-size: 0.36rem;
    text-align: center;
    /*    color: #ff7e00;*/
    background: linear-gradient(to right, rgb(255,126,0) 50%,rgb(163,33,45) );
    -webkit-background-clip: text;
    color: transparent;
}
.ziti{
    width: 100%;
    height: 1.2rem;
    /*    background: green;*/
    border:0.001rem solid rgba(255,255,225,0.5);
}
.yuan{
    width: 0.58rem;
    height: 0.12rem;
    /*    background:yellow ;*/
    margin-top: 0.48rem;
    margin-left: 1.65rem;
    display: flex;
    justify-content:space-between;
}
.xiaoyuan{
    width: 0.12rem;
    height: 0.12rem;
    border-radius: 0.06rem;
    background-color: rgba(255,126,0,0.5);
}
.meishi{
    width: 3.15rem;
    height: 0.56rem;
    background-color: #16b0bc;
    margin-left: 2.21rem;
    margin-top: -0.38rem;
    color: #333333;
    text-align: center;
    font-size: 0.48rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: linear-gradient(to right, rgb(255,126,0) 50%,rgb(163,33,45) );
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 800;
}
.kuang{
    width: 5.08rem;
    height: 3.98rem;
    background:white;
    margin-top: 0.1rem;
    box-shadow: 0 0 0.24rem 0.1rem rgba(0,1,6,0.2);
    margin-left: 1.25rem;
    border-radius: 0.5rem;
}
.kong{
    width: 100%;
    height: 0.72rem;
    /*    background: white;*/
}
.username{
    width: 100%;
    height: 0.45rem;
    /*    background: #16b0bc;*/
    border:0.01rem solid white;
}
.username input{
    margin-top: -0.13rem;
    margin-left: 0.2rem;
    float: left;
    margin-left: 0.3rem;
}
.username span{
    font-family: iconfont;
    float: left;
    color: rgb(18,150,219);
    box-shadow: 0 0 0.02rem 0.02rem rgba(18,150,219,0.5);
    margin-top:-0.3rem;
    margin-left: 3.8rem;
}
.wenhao{
    font-family: iconfont;
    color: rgb(0,210,255);
    margin-left: 0.32rem;
    /*    background: red;*/
    /*    float: left;*/
}
.zhaohui{
    font-size: 0.3rem;
    color:rgba(0,0,0,0.65);
    /*    float: left;*/
    margin-top: -0.38rem;
    margin-left: 0.68rem;
}
.queding{
    width: 3rem;
    height: 1.05rem;
    background: white;
    border-radius: 0.46rem;
    margin-left: 2.27rem;
    margin-top: -0.525rem;
    border: 0.01rem solid white;
}
.queding2{
    width: 2.86rem;
    height: 0.96rem;
    background-color:rgb(194,192,192);
    border-radius: 0.46rem;
    margin-top: 0.04rem;
    margin-left: 0.07rem;
    fontsize: 0.43rem;
    text-align: center;
    line-height: 0.96rem;
}
.qing  {
    width: 100%;
    height: 0.33rem;
    font-size: 0.24rem;
    color: rgba(0,0,0,0.6);
    text-align: center;
    font-weight: 800;
}
